.product_container {
  /* border: 1px solid red; */
  width: 400px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.product_container_img {
  height: 300px;
  display: flex;
  width: 100%;
  border-radius: 10px;
  background-color: #fafafa;
  align-items: center;
  border: 2px solid #f5f5f5;
  justify-content: center;
}
.product_container_img img {
  height: 200px;
  width: 200px;
}

.product_container_description {
  text-align: start;
  font-size: 16px;
  width: 80%;
  color: #666a72;
}

.product_container_description_rating {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 700;
}

.product_container button {
  width: 100%;
  padding: 13px;
  outline: none;
  border-radius: 5px;
  border: 2px solid #f5f5f5;
  background-color: transparent;
  font-size: 19px;
  font-weight: 600;
  color: #666a72;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}

.product_container button:hover {
  background-color: #0242e8;
  color: white;
}
